$handle-clickable-area-size: 0.7rem;

.react-flow__handle {
    box-shadow: 0 0 0 2px white;
    border: 1px solid black;
    width: 4px;
    height: 4px;

    &:before {
        content: '';
        position: relative;
        display: inline-block;
        padding: $handle-clickable-area-size;
        margin: -$handle-clickable-area-size;
        top: -0.5 * $handle-clickable-area-size;
    }

    &.connecting {
        box-shadow: 0 0 0 2px #32c99b;
    }
}

.react-flow {
    touch-action: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}

.react-flow__handle-left {
    left: -3px;
}

.react-flow__handle-right {
    right: -3px;
}

.react-flow__handle {
    &::after {
        content: '';
        padding: 2px;
        display: none;
        position: absolute;
        bottom: 0.5rem;
        left: 0.5rem;
        // bottom: 100%;
        // left: 0;
        // right: -30px;
        width: 150px;
        text-align: center;
        background-color: #fef4c5;
        border: 1px solid #d4b943;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        -ms-border-radius: 2px;
        border-radius: 2px;
        pointer-events: none;
    }
}

.react-flow__handle.react-flow__handle-connecting:not(.react-flow__handle-valid) {
    background: #eb3a3a;
    cursor: not-allowed;

    &[data-invalid-connection-tooltip]::after {
        content: attr(data-invalid-connection-tooltip);
        display: block;
    }
}

.react-flow__handle.react-flow__handle-connecting.react-flow__handle-valid {
    background: #32c99b;
    cursor: alias;

    &[data-valid-connection-tooltip]::after {
        content: attr(data-valid-connection-tooltip);
        display: block;
    }
}

.node {
    box-sizing: 'border-box';
    border-radius: 0 0.5rem 0 0;
}

.node.pending {
    border-color: #32c99b;
}

.node.pending .title {
    background: #32c99b;
}

.node.erroneous {
    border-color: #eb3a3a;
}

.node.erroneous .title {
    background: #eb3a3a;
}

.node .hyphenate {
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    text-align: left;
    width: 100%;
    display: block;
}

.handle-wrapper {
    display: flex;
    padding-top: 0.4rem;
    padding-bottom: 0.2rem;
}

.target-handle {
    top: auto;
    transform: translateY(0);
    margin-top: 5px;
}

.target-handle-label {
    text-align: left;
    width: 100%;
}

.source-handle {
    top: auto;
    transform: translateY(0);
    margin-top: 5px;
}

.source-handle-label {
    text-align: right;
    width: 100%;
}

.title {
    display: inline;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    background: white;
    position: absolute;
    top: calc(-1.2rem - 1px);
    left: 0;
    background: black;
    color: white;
    font-weight: bold;
    padding: 0.2rem;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    border-radius: 0 0.5rem 0 0;
}

.divider {
    margin-top: 0.6rem;
    margin-bottom: 0.8rem;
    margin-left: -10px;
    width: calc(100% + 20px);
    height: 0px;
    border: 0;
    border-top: 1px solid black;
}
