@import 'webgl-operate';

@import 'react-flow';
@import 'custom-react-flow-nodes-and-edges';

@import 'react-split';

@import 'react-collapse';

.link {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 0.2rem;
    cursor: pointer;
}
