@import 'webgl-operate';

@import 'react-flow';
@import 'custom-react-flow-nodes-and-edges';

@import 'react-split';

@import 'react-collapse';

.link {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 0.2rem 0.25rem;
    cursor: pointer;

    &:focus, &:hover {
        box-shadow: 0 0 0 1px #32c99b;
    }
}
